.list{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
.hamburger{
    display: none;
}

@media (max-width:768px){
    .list{
        display: none;
    }
    .hamburger{
        display: block;
        margin-top: 15px;
    }
}